html, body {
	font size: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 75px;
	vertical-align: middle;
	margin:0;
	padding:0;
	background color: white;
	position: fixed;
	font-family: Mentone;
}

hr
{
	margin: 0;
}

.nav{
	width: auto;
    height: 75px;
    overflow: hidden;
}

.logo{
	width: auto;
	height: 75px;
}

.pics {
    height: auto;
    width: 150px;
    float: left;
}

.icons{
display:inline-block;
width: 64px; 
height: 64px; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: white;
}

.nav_link {
    float: left;
    height: 75px;
    font-family: "Mentone", sans-serif, monospace;
}

.home{
	float: left;
	display: block;
    color: none;
    text-align: right;
    padding: 0px 0px;
    text-decoration: none;
}

.home:hover{
	background-color: 000;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 28px 30px;
    text-decoration: none;
}

li a.nav_link:hover {
    background-color: #FFC600;
}

.active{
	background-color: black;
	color: white;
}

.elipses{
	text-align: center;
	color: #FFC600;
}

h1{
	font-family: Mentone, sans-serif, monospace;
	font-size: 2.5rem;
	text-align: center;
	padding: auto 0;
}

h2{
	font-size: 2.81rem;
	font-weight: normal;
}

p{
	line-height: 1.2;
	text-align: justify;
	font-family: georgia, "Times New Roman", monospace;
	width: 400;
	margin: 0 auto;
}

.error {
      margin: 110px 520px;
}

.culture{
	max-width: 400;
}

div.gallery {
    margin: 5px;
    border: 1px solid #f0f0f0;
    float: left;
    width: 241px;
}

.desc{
	font-family: georgia, "Times New Roman", monospace;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}